* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font: 62.5% Helvetica, sans-serif;
  margin: 0;
}
#pages {
  position: relative;
  width: 570px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}
.page {
  position: relative;
  width: 100%;
}
.page img {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hotspot {
  position: absolute;
}
.mask {
  position: absolute;
  background-color: #fff;
  height: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: height 0s, opacity 0s;
  -moz-transition: height 0s, opacity 0s;
  -o-transition: height 0s, opacity 0s;
  -ms-transition: height 0s, opacity 0s;
  transition: height 0s, opacity 0s;
}
#top-mask {
  top: 0;
}
#bottom-mask {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  bottom: -1px;
/* To cover up some small clipping that occurs */
}
@media (max-width: 570px) {
  #pages {
    width: 100%;
  }
}
