@import 'nib'

*
  box-sizing border-box
html
  font-size 16px
body
  font 62.5% Helvetica, sans-serif
  margin 0

#pages
  width 720px
.page
  width 100%
.panel
  position relative
  background-color red
  display inline-block
.panel img
  max-width 100%
.panel-text
  position absolute


@media (max-width: 580px)
  #pages
    width 100%
  .panel
    background-color blue
//   // .panel-img,
//   .panel-img img
//     width 100%
//   // .full-panel,
//   // .half-panel
//   //   width 100% !important
//   // .two_third-panel
//   //   width 66.66% !important
//   // .one_third-panel
//   //   width 33.33% !important
//   // .quart-panel
//   //   width 25% !important
