@import 'nib'

*
	box-sizing border-box
html
	font-size 16px
	height 100%
body
	font 62.5% Helvetica, sans-serif
	height 100%
	margin 0

max_width = 577

/* P A G E S */
#pages
	position relative
	min-width 320px
	max-width (max_width)px
	margin 0 auto
	overflow hidden
.page-container
	left 0
	visibility hidden
.page-container, .page
	position absolute
	height 100%
	width 100%
	overflow hidden
.page
	top 0
	right 0
	bottom 0
	left 0

.page-container.viewing
	visibility visible
	z-index 99
.page img
	width 100%
	user-select none

/* T R A N S I T I O N S */
page_transition_duration = 350ms

.page-container
	// transition left page_transition_duration linear

.page-container.exit-to-left
	animation exit-to-left page_transition_duration linear
.page-container.enter-from-left
	animation enter-from-left page_transition_duration linear

.page-container.exit-to-right
	animation exit-to-right page_transition_duration linear
.page-container.enter-from-right
	animation enter-from-right page_transition_duration linear


@keyframes exit-to-left {
	from{
		left 0
	}
	to{
		left -100%
	}
}

@keyframes exit-to-right {
	from{
		left 0
	}
	to{
		left 100%
	}
}

@keyframes enter-from-left {
	from{
		left -100%
	}
	to{
		left 0
	}
}

@keyframes enter-from-right {
	from{
		left 100%
	}
	to{
		left 0
	}
}


/* H O T S P O T S */
.hotspot
	position absolute
	// background-color rgba(0, 255, 204, .5)

/* M A S K S */
.mask
	position absolute
	background-color #fff
	height 0
	opacity 0
	left 0
	right 0
	z-index 999
	transition: height 0s, opacity 0s
#top-mask
	top 0
#bottom-mask
	transform: rotateX(180deg);
	bottom -1px /* To cover up some small clipping that occurs */
.page, .mask
	// transition: transform .3s ease-out

/* M E D I A  Q U E R I E S */
@media (max-width: 570px)
	#pages
		width 100%