@import 'nib'

*
	box-sizing border-box
html
	font-size 16px
body
	font 62.5% Helvetica, sans-serif
	margin 0

#pages
	position relative
	width 570px
	min-width 320px
	margin 0 auto
	overflow hidden
.page
	position relative
	width 100%
.page img
	width 100%
	user-select none
.hotspot
	position absolute
	// background-color rgba(0, 255, 204, .5)
.mask
	position absolute
	background-color #fff
	height 0
	opacity 0
	left 0
	right 0
	z-index 99
	transition: height 0s, opacity 0s
#top-mask
	top 0
#bottom-mask
	transform: rotateX(180deg);
	bottom -1px /* To cover up some small clipping that occurs */
.page, .mask
	// transition: transform .3s ease-out
@media (max-width: 570px)
	#pages
		width 100%