* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font: 62.5% Helvetica, sans-serif;
  margin: 0;
}
#pages {
  width: 570px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}
.page {
  position: relative;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.page img {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hotspot {
  position: absolute;
  background-color: rgba(0,255,204,0.5);
}
@media (max-width: 570px) {
  #pages {
    width: 100%;
  }
}
