* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font: 62.5% Helvetica, sans-serif;
  margin: 0;
}
#pages {
  width: 570px;
  min-width: 320px;
  margin: 0 auto;
}
.page {
  width: 100%;
}
.panel {
  position: relative;
  background-color: #f00;
  display: inline-block;
}
.panel img {
  max-width: 100%;
  vertical-align: top;
}
.panel-text {
  position: absolute;
}
.first-panel-in-row {
  margin-right: 1%;
}
@media (max-width: 580px) {
  #pages {
    width: 100%;
  }
  .panel {
    background-color: #00f;
  }
}
