<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Rouge Vif - Maker</title>

	<link href='css/typography.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/thirdparty/ui-lightness/jquery-ui-1.10.4.custom.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>

	<div id="page-wrapper">

		<div id="rouge-vif-logo">Rouge Vif <span>maker</span></div><div id="instruction-bar">
			<span class="instruction">Choose page images:</span>
			<input id="files" type="file" class="input-btn" multiple>
			<span class="instruction" data-type="download">
				<a href="" download="pages.json">
					<button>Download data</button>
				</a>
			</span>
		</div>
		<!-- TODO, pages tray -->
		<div id="pages-tray"></div>

		<div id="pages-container"></div>

	</div>

	<script type="text/jst" id="page-container-templ">
		<div class="page-container" data-hotspots="0" data-page-number="<%= extractPageNumber(fileName) %>">
			<div class="page-furniture">
				<div class="page-info">
					<div class="page-name"><%= fileName %></div>
					<div class="alt-text page-info-item">
						<div class="page-info-hed">Script text</div>
						<textarea placeholder="Panel dialog and captions..."></textarea>
					</div>
					<div class="footnotes page-info-item">
						<div class="page-info-hed">Footnotes</div>
						<div class="footnotes-container"></div>
						<button>Add</button>
					</div>
				</div>
				<div class="page-actions">
					<div class="destroy"><button>Delete</button></div>
					<div class="save-page"><button>Save page</button></div>
				</div>
			</div>
			<div class="hotspots"></div>
		</div>
	</script>

	<script type="text/jst" id="hotspot-templ">
		<div class="hotspot create-dragging" data-number="<%= hotspot_number %>">
			<div class="destroy">X</div>
			<div class="hotspot-number"><%= hotspot_number %></div>
		</div>
	</script>

	<script type="text/jst" id="footnote-templ">
		<div class="footnote-group">
			<div class="destroy">X</div>
			<input type="text" name="text" placeholder="Text..."> <input type="text" name="url" placeholder="URL...">
		</div>
	</script>

	<script src="js/thirdparty/jquery-1.10.2.js"></script>
	<script src="js/thirdparty/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="js/thirdparty/underscore-min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>