<!DOCTYPE html>
	<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
		<title>Stowaway</title>

	 	<link rel="stylesheet" type="text/css" href="css/thirdparty/reset.css">
	 	<link rel="stylesheet" type="text/css" href="css/ajmint-icons.css">
	 	<link rel="stylesheet" type="text/css" href="css/styles.css">

	</head>
	<body>
		<div id="header">
<!-- 			<ul class="header-group" data-which="social">
				<li class="header-item-container">
					<div class="header-item header-btn" data-btn="facebook" data-group="social">
						<div class="ajmint-icon-facebook header-btn-icon"></div>
					</div>
				</li><li class="header-item-container">
					<div class="header-item header-btn" data-btn="twitter" data-group="social">
						<div class="ajmint-icon-twitter header-btn-icon"></div>
					</div>
				</li><li class="header-item-container">
					<div class="header-item header-btn" data-btn="gplus" data-group="social">
						<div class="ajmint-icon-gplus header-btn-icon"></div>
					</div>
				</li>
			</ul>
 -->			<ul class="header-group" data-which="options">
				</li><li class="header-item-container">
					<div class="header-item header-btn" data-btn="endnotes" data-group="options">
						<div class="ajmint-icon-doc-text-inv header-btn-icon"></div>
					</div>
					<div class="btn-tooltip">Endnotes</div>
				</li><li class="header-item-container">
					<div class="header-item header-btn" data-btn="export" data-group="options">
						<div class="ajmint-icon-download header-btn-icon"></div>
					</div>
					<div class="btn-tooltip">Export</div>
				</li><li class="header-item-container">
					<div class="header-item header-btn" data-btn="fullscreen" data-group="options">
						<div class="ajmint-icon-resize-full header-btn-icon"></div>
					</div>
					<div class="btn-tooltip">Fullscreen</div>
				</li><li class="header-item-container">
					<div class="header-item header-btn" data-btn="share" data-group="options">
						<div class="ajmint-x-icon-export header-btn-icon"></div>
					</div>
					<div class="btn-tooltip">Share</div>
				</li>
			</ul>
			<ul class="header-group" data-which="options">
				<li class="header-item-container">
					<div class="header-item" data-which="page-number">
						<div class="header-text"></div>
					</div>
			</ul>
		</div>
		<div id="btns">
			<div class="main-nav-btn-container" data-dir="prev"><div class="main-nav-btn"><div class="btn-text">←</div></div></div><div class="main-nav-btn-container" data-dir="next"><div class="main-nav-btn"><div class="btn-text">→</div></div></div>
		</div>
		<div id="pages-wrapper">
			<div id="pages"></div>
		</div>

		<!-- Page tempalte -->
		<script type="text/template" id="page-template">
			<div id="page-container-<%= number %>"  class="page-container">
				<div class="page-mask">
					<div class="page" id="page-<%= number %>" data-length="<% print(hotspots.length) %>" >
						<% for (var i = 0; i < hotspots.length; i++ ) {%>
							<div class="hotspot" id="hotspot-<%= number %>-<% print(i + 1) %>" style="<%= hotspots[i] %>"></div>
						<% } %>
						<img src="imgs/pages/placeholder.jpg" alt="<%= text %>"/>
					</div>
				</div>
			</div>
		</script>

		<!-- Hotspot template -->
		<script type="text/template" id="hotspot-template">
			<div class="hotspot" id="hotspot-<%= number %>" ></div>
		</script>

		<script src="js/thirdparty/jquery-1.11.0.min.js"></script>
		<script src="js/thirdparty/underscore-min.js"></script>
		<script src="js/thirdparty/backbone-min.js"></script>
		<script src="js/thirdparty/imagesloaded.pkgd.min.js"></script>
		<script src="js/thirdparty/jquery.detectSwipe.js"></script>
		<script src="js/app.js"></script>
 	</body>
 </html>
