#footer{
	height: 100%;
}
.footer {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.globalFooter {
    background: #3f4245;
    font-size: 11px;
    color: #fff;
    height: 100%;
}

.globalFooter a {
    color: #fff;
}

.globalFooter a:hover {
    color: #fff;
    text-decoration: underline;
}

.globalFooter li {
    font-weight: bold;
    list-style: none;
}

.globalFooter li ul {
    margin: .8335em 0 0;
    padding:0;
}

.globalFooter li ul li {
    font-weight: normal;
    margin-bottom: .8335em;
    line-height: 16px;
}

.globalFooter .inline>li {
    padding: 0;
}

.globalFooter .container-nav-main {
    border-bottom: 1px solid #58585c;
    margin-bottom: 3em;
    padding-bottom: 2em;
}

.globalFooter .container-nav-main li {
    font-weight: 400;
}

.globalFooter .container-nav-main li a {
    text-transform: uppercase;
}

.globalFooter .container-nav-main .logo {
    float: left;
    margin-right: 2.5em;
}

.globalFooter .nav-main {
    float: left;
    width: 40%;
    margin: .8335em 0 0;
}

.globalFooter .nav-main li {
    margin-left: 5.5%
}

.globalFooter .nav-main li:first-child {
    margin: 0;
}

.globalFooter .nav-secondary {
    margin: 0;
    padding:0;
}

.globalFooter .nav-secondary>li {
    float: left;
    padding-left: 3%;
    width:20%;
}

.globalFooter .nav-secondary>li:first-child {
    padding-left: 0;
}

.globalFooter .social {
    float: right;
    margin: 0;
    text-align: right;
    width: 30%;
}

.globalFooter .social li {
    margin-left: 3%;
}

.globalFooter .social li:first-child {
    margin-left: 0;
}

.globalFooter .copyright {
    font-size: 10px;
    margin-top: 1.667em;
    text-align: center;
}

.row-padding {
    padding-top: 3.334em;
    padding-bottom: 3.334em;
}

footer {
    display:block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #3f4245;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.footer a {
    text-decoration: none;
}

.footer a:-webkit-any-link {
    cursor: auto;
}

.footer ul.inline, 
.footer ol.inline {
    list-style:none;
}

.footer ul, .footer ol {
    padding:0 !important;
}

.footer ul {
    display:block;
}

.footer ul.inline>li,
.footer ol.inline>li {
    display:inline-block !important;
}

.footer li {
    line-height:18px;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after {
    clear: both;
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}

.row-fluid {
    width: 100%;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

[class*="-box"] {
    position: relative;
    margin-bottom: 1.667em;
}

@media (min-width: 960px) {
    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }
}

@media (min-width: 960px) {
    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }
}

@media (max-width: 959px) and (min-width: 768px) {
    .row-padding {
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    .globalFooter .nav-main-box {
        padding-left: 36px;
        padding-right: 36px;
    }

    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 764px;
    }

    .globalFooter .container-nav-main {
        margin-bottom: 1em;
        padding-bottom: 1em;
        position: relative;
    }

    .globalFooter .container-nav-main .logo {
        float: none;
        display: block;
    }

    .globalFooter .nav-main {
        float: none;
        width: auto;
        display: block;
        margin: 1.5em 0 0;
    }

    .globalFooter .nav-main li {
        margin-left: 4%;
    }

    .globalFooter .social {
        position: absolute;
        top: 0;
        right: 0;
    }

    .row-fluid {
        width: 100%;
    }

    .globalFooter .nav-secondary > li:first-child {
        width: 22%;
    }

    .globalFooter .nav-secondary > li {
        padding-left: 3%;
        width: 19%;
    }

    .globalFooter .copyright {
        margin-top: 1.25em;
    }
}



@media (max-width: 768px) {
    .globalFooter {
        font-size: 14px;
        padding: 2.5em 0;
    }

    .globalFooter .nav-main-box {
        padding: 0;
    }

    .container {
        width: auto;
    }

    .globalFooter .container-nav-main {
        margin: 0;
        padding: 0;
        border: none;
    }

    .globalFooter .container-nav-main .logo {
        float: none;
        display: block;
        margin: 0 0 1.667em 26px;
    }

    .globalFooter .nav-main {
        float: none;
        margin: 0 0 1.667em;
        width: 100%;
        border-top: 1px solid #58585c;
    }

    .globalFooter .nav-main li {
        display: list-item;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #58585c;
        font-size: 16px;
    }

    .globalFooter .nav-main li a {
        display: block;
        padding: 0.8335em 26px;
    }

    .globalFooter .social {
        float: none;
        display: block;
        margin: 0 0 1.667em 26px;
        text-align: left;
        width: auto;
    }

    .row-fluid {
        width: 100%;
    }

    .globalFooter .nav-secondary {
        margin: 0 26px;
    }

    .globalFooter .nav-secondary > li {
        float: none;
        padding: 0;
        margin-bottom: 1.667em;
        width: 100%;
    }

    .globalFooter li ul {
        margin: 0.41675em 0 0;
    }

    .globalFooter li ul li {
        margin: 0;
        line-height: 20px;
    }

    .globalFooter .copyright {
        font-size: 14px;
        text-align: left;
        margin: 0 26px;
    }
}

@media (max-width: 480px) {
    .row-padding {
        padding-top: 1.667em;
        padding-bottom: 1.667em;
    }

    .globalFooter .container-nav-main .logo {
        margin: 0 0 1.667em 19px;
    }

    .globalFooter .social {
        margin: 0 0 1.667em 19px;
    }

    .globalFooter .nav-main li a {
        padding: 0.8335em 19px;
    }

    .globalFooter .nav-secondary {
        margin: 0 19px;
    }

    .globalFooter .nav-secondary li a {
        font-size: 15px;
    }

    .globalFooter .copyright {
        font-size: 15px;
    }

    .globalFooter .copyright {
        margin: 0 19px;
    }

}