@import 'nib'

* 
	box-sizing border-box

html
	font-size 16px

body
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-size 62.5%
	margin 0

rouge_vif = #e14a31
#page-wrapper
	margin 0 auto
	width 960px

#rouge-vif-logo
	width 40%
#instruction-bar
	width 55%
#pages-container
	width 100%
	margin-top 25px
#rouge-vif-logo,#instruction-bar
	display inline-block
	vertical-align top
	padding 10px
	height 75px


#instruction-bar
	background-color #ccc
	border 1px solid darken(#ccc, 30%)
	border-top-width 0
	border-left-width 0
	overflow auto
	padding-top 40px
#rouge-vif-logo
	background-color rouge_vif
	font-family 'Oswald', sans-serif
	font-size 4.2em
	font-style italic
#rouge-vif-logo span
	font-family georgia
	font-size .4em
	color darken(rouge_vif, 40%)
.instruction
	font-size 2em
	margin-right 10px
	font-weight bold
	vertical-align bottom

#pages-container
	user-select none
.page-container
	margin 0 auto
	position relative
.page-name,.save-page
	position absolute
	top 7px
	font-size 1.2em
.page-name
	padding-left 20px
	border-top 1px solid #424242
.page-container img
	pointer-events none
.hotspot
	position absolute
	background-color rgba(255, 204, 0, .5)
	min-width 10px
	min-height 20px
	display table
.hotspot:hover
	cursor move
.hotspot-number
	font-size 2em
	text-align center
	vertical-align middle
	display table-cell
.destroy
	position absolute
	padding 5px
	background-color #fc0
	right 0
.destroy:hover
	text-decoration underline
	cursor pointer !important
