* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Oswald', sans-serif;
  font-size: 62.5%;
  margin: 0;
}
#page-wrapper {
  margin: 0 auto;
  width: 960px;
}
#rouge-vif-logo {
  width: 40%;
}
#instruction-bar {
  width: 55%;
}
#pages-container {
  width: 100%;
  margin-top: 25px;
}
#rouge-vif-logo,
#instruction-bar {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  height: 75px;
}
#instruction-bar {
  border-top-width: 0;
  border-left-width: 0;
  overflow: auto;
  padding-top: 45px;
}
#rouge-vif-logo {
  background-color: #e14a31;
  font-size: 4.2em;
  font-style: italic;
}
#rouge-vif-logo span {
  font-family: georgia;
  font-size: 0.4em;
  color: #902615;
}
.instruction {
  font-size: 1.5em;
  margin-right: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  vertical-align: bottom;
}
#pages-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-container {
  margin: 0 auto;
  position: relative;
}
.page-info,
.page-options {
  position: absolute;
  top: 7px;
  font-size: 1.2em;
}
.page-info {
  padding-left: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  border-top: 1px solid #424242;
  text-align: right;
}
.page-info-item {
  margin-top: 20px;
}
.page-name,
.page-info-hed {
  font-weight: normal;
}
.page-container img {
  pointer-events: none;
}
/* Footnotes */
.footnote-group {
  margin-bottom: 2px;
  position: relative;
}
.footnote-group .destroy {
  position: absolute;
  top: 2px;
  left: 0;
}
.footnote-group .destroy:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footnotes input {
  display: inline;
  width: 70px;
}
/* Hotspots */
.hotspot {
  position: absolute;
  background-color: rgba(255,204,0,0.5);
  min-width: 10px;
  min-height: 20px;
  display: table;
}
.hotspot:hover {
  cursor: move;
}
.hotspot-number {
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.hotspot .destroy {
  position: absolute;
  padding: 5px;
  background-color: #fc0;
  right: 0;
}
.hotspot .destroy:hover {
  text-decoration: underline;
  cursor: pointer !important;
}
