#header span#ajmint-logo {
    padding-left:10px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#header #ajmint-mainmenu-trigger .ajmint-icon-down-dir,
#header #ajmint-mainmenu-trigger .ajmint-icon-up-dir {
	font-size: 1em;
	height: 35px;
	font-size: 15px;
	line-height: 20px;
	cursor: pointer;
}

#header #ajmint-mainmenu-trigger{
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 2px;
	left: 5px;
}

#header #ajmint-mainmenu-trigger.ajmint-expanded .ajmint-icon-down-dir,
#header #ajmint-mainmenu-trigger.ajmint-expanded .ajmint-icon-up-dir {
	background: #333;
	color: #fff;
}

#header span#ajmint-logo img {
	height:25px;
}

#header span#ajmint-logo #ajmint-logo-dropdown {
	font-family: Helvetica, Arial, sans-serif;
	top: 18px;
	position: absolute;
	background: #333;
	display: none;
	left: 0;
	z-index:99999;
}

#header #ajmint-mainmenu-trigger.ajmint-expanded #ajmint-logo-dropdown {
	display: block;
}

#header span#ajmint-logo #ajmint-logo-dropdown a {
	color: #666;
}

#header span#ajmint-logo #ajmint-logo-dropdown ul {
	width: 233px;
	list-style:none;
	margin: 0;
}

#header span#ajmint-logo #ajmint-logo-dropdown ul li {
	padding: 10px 5px 10px 20px;
}

#header span#ajmint-logo #ajmint-logo-dropdown ul li:hover {
	background: #222;
}

#header #ajmint-dropdown {
	float:left;
	overflow:hidden;
	position: absolute;
	top: 0;
	left: 260px;
	width: 100%;
}

#header #ajmint-dropdown #ajmint-hamburger {
	display:none;
	cursor:pointer;
	vertical-align: middle;
    margin-left:10px;
}

#header #ajmint-dropdown #ajmint-hamburger img {
	height:14px;
	width:18px;
	float: right;
	margin-right: 20px;
}

#header #ajmint-dropdown #ajmint-toc {
	float:left;
	color: #999;
	padding-top: 0px !important;
	padding-bottom: 5px !important;
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#header #ajmint-dropdown #ajmint-toc .ajmint-inline.ajmint-chapters li {
	display:inline-block;
}

#header #ajmint-dropdown #ajmint-toc .ajmint-inline.ajmint-chapters a li {
	padding: 0 1em;
	color:#666;
	font-weight: 800;
	font-size: 10pt;
	font-family: Helvetica, Arial, sans-serif;
}

#header #ajmint-dropdown #ajmint-toc .ajmint-inline.ajmint-chapters a.ajmint-selected li {
	padding: 0 1em;
	color: #D99C2C;
	font-family: Helvetica, Arial, sans-serif;
}

#header ul.ajmint-inline.ajmint-chapters.ajmint-mainsite {
	display: none;
}

#header #ajmint-dropdown #ajmint-socialbuttons {
	float:right;
	right: 0;
}

#header .ajmint-inline.ajmint-social {
	float:right;
	margin-right:20px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	margin-top: 11px;
}

#header .ajmint-inline.ajmint-social li {
	color: white;
	cursor: pointer;
	margin-left:5px;
}

#header .ajmint-inline.ajmint-social li:hover .ajmint-icon-facebook {
	color: #3B5998;
}

#header .ajmint-inline.ajmint-social li:hover .ajmint-icon-twitter {
	color: #4099FF;
}

#header .ajmint-inline.ajmint-social li:hover .ajmint-icon-gplus {
	color: #dd4b39;
}

#header .ajmint-inline.ajmint-social li:hover .ajmint-icon-chat {
	color: #D99C2C;
}

#header a {
    text-decoration: none;
}

#header a:-webkit-any-link {
    cursor: auto;
    color: inherit;
}

#header ul.ajmint-inline, 
#header ol.ajmint-inline {
    list-style:none;
}

/*#header ul, #header ol {
    padding:0 !important;
}
*/
/*#header ul {
    display: inline;
	float: left;
}*/

#header ul.ajmint-inline>li,
#header ol.ajmint-inline>li {
    display:inline-block !important;
    vertical-align: top;
}

#header li {
    line-height:18px;
}


@media (max-width: 900px) {
	#header {
		display:block;
	}

	#header span#ajmint-logo {
		float:left;
		z-index:2;
		position: absolute;
	}

	#header span#ajmint-logo img {
		margin-top: 11px;
	}

	#header #ajmint-mainmenu-trigger {
		display: none;
	}

	#header #ajmint-dropdown {
		right:0;
		top: 0;
		z-index:1;
		width:auto;
		background: #0c0c0c;
		padding-left: 0;
		left: auto;
	}

	#header .button {
		display: none;
	}

	#header span#logo:hover #ajmint-logo-dropdown {
		display: none;
	}

	#header #ajmint-dropdown #ajmint-hamburger {
		float:right;
		display:block;
		height: 50px;
	}

	#header #ajmint-dropdown #ajmint-hamburger img {
		margin-top: 16px;
	}

	#header #ajmint-dropdown #ajmint-toc { 
		float: right;
		position: relative;
	}

	#header #ajmint-dropdown .ajmint-menuitem {
		clear:both;
		display:none;
	}

	#header #ajmint-dropdown .ajmint-menuitem.ajmint-expanded {
		display:block;
	}

	#header .ajmint-separator {
		display: none;
	}

	#header .ajmint-inline.ajmint-chapters {
		float:right;
		width:100%;
		margin-right:0px;
	}


	#header ul.ajmint-inline {
		display: block;
		-webkit-margin-before: 0em;
	}

	#header .ajmint-inline.ajmint-chapters li {
		display:block !important;
	}

	#header .ajmint-inline.ajmint-chapters a li {
		display: block;
		padding: 0.5em 0;
	}

	#header ul.ajmint-inline.ajmint-chapters.ajmint-mainsite {
		display: block;
		margin-top: 5px;
		padding-top: 5px !important;
	}

	#header #ajmint-dropdown #ajmint-socialbuttons {
		margin-top: 10px;
		float: left;
	}

	#header .ajmint-inline.ajmint-social {
		float:left;
		text-align:left;
		width:100%;
		margin-right:0px;
		padding:0 20px 10px 0 !important;
		margin-top: auto;
		border-left: none;
	}
}